<div class="container" id="main">
    <div class="row ">
        <h4 class="d-flex justify-content-center">Weather App</h4>
    </div>
    <div class="row position-relative" id="div">
        <!--<div >-->
        
        <video *ngIf="weatherdata.main_desc=='Haze' || weatherdata.main_desc=='Dust' || weatherdata.main_desc=='Smoke'" controls autoplay loop muted>
            <source  src="../assets/haze-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Sand' || weatherdata.main_desc=='Ash'" controls autoplay loop muted>
            <source  src="../assets/dust-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Fog' || weatherdata.main_desc=='Mist'" controls autoplay loop muted>
            <source  src="../assets/fog-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Squall' || weatherdata.main_desc=='Tornado'" controls autoplay loop muted>
            <source  src="../assets/tornedo-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Clear'" controls autoplay loop muted>
            <source  src="../assets/clearsky-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Clouds'" controls autoplay loop muted>
            <source  src="../assets/clouds-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Snow'" controls autoplay loop muted>
            <source  src="../assets/snowfall-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Drizzle'" controls autoplay loop muted>
            <source  src="../assets/drizzle-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Rain'" controls autoplay loop muted>
            <source  src="../assets/rain-vid.mp4">
        </video>
        <video *ngIf="weatherdata.main_desc=='Thunderstorm'"  controls autoplay loop muted>
            <source  src="../assets/thunderstorm-vid.mp4">
        </video>
        <!--</div>-->
        <div class="row position-absolute flex-column d-flex justify-content-center align-items-center" id="content">
            <div id="search_menu" class="row d-flex flex-row justify-content-around align-items-center">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <input type="search" [(ngModel)]="cityname" placeholder="Search City Here...">
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <button (click)="getweatherdata(cityname)">Search</button>
                </div>
            </div>

            <div class="row d-flex justify-content-center align-items-center">
                <!--<div class="row fa">
                <i class="fa-solid fa-bolt"></i>
            </div>-->
                <div class="row">
                    <h4>Weahter in {{weatherdata.name}}, {{weatherdata.sys.country}}</h4>
                </div>
                <div id="description-menu"  class="row d-flex flex-row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <h5 style="color: yellow;">{{weatherdata.desc}} </h5>
                    </div>
                    <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                        <h5 class="me-2 d-flex justify-content-start align-items-center"> | </h5>
                        <img id="wicon" src={{weatherdata.icons}} alt="icon">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <h3>Temperature : {{weatherdata.temperature}}&#x2103;</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <h6 class=" d-flex justify-content-center align-items-center">Feels Like : {{weatherdata.feelsLike}}&#x2103;</h6>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <h6 class=" d-flex justify-content-center align-items-center">Max/Min : {{weatherdata.temp_max}} / {{weatherdata.temp_min}}&#x2103;</h6>
                </div>


                <div class="row ">
                    <div class="col-md-6 d-flex justify-content-center">
                        <h6>Humidity : {{weatherdata.humid}}%</h6>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <h6>Pressure : {{weatherdata.main.pressure}} mb</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <h6>Wind Speed : {{weatherdata.wind.speed}} Km/H</h6>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <h6>Clouds : {{weatherdata.cloud}}%</h6>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>